/* #hero-background {
  background-image: url('../src/assets/curtain-17437.png'); */
/* } */

body {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  color: white;
}

#enter {
  font-family: 'Limelight', cursive;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#curtains {
  background: url('../assets/curtain-17437.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}
#navbar-link {
  font-weight: bold;
  text-transform: lowercase;
  letter-spacing: 3px;
 }

 

 h4 {
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 2px;
   /* border: 2px solid white; */
   
 }

 #show-content {
  background: linear-gradient( rgb(0, 0, 0), rgb(53, 53, 53));
 }


 #index {
  /* background-image: linear-gradient( rgb(226, 40, 102), rgb(53, 53, 53)); */
  background: rgb(53, 53, 53);
 }

/* #card-subtitle.title.is-7 {
  padding-left: 20px;
} */

/* .card {
  border-radius: 5px;
} */

#navbar {
  /* background-color: black; */
  background: linear-gradient( rgb(0, 0, 0), rgb(53, 53, 53));
}

img {
  border-radius: 5px;
}

#select {
  margin-top: 8px;
}

#nav-content {
  margin-top: 5px;
}