body {
  /* font-family: 'Zen Kaku Gothic Antique', sans-serif; */
  font-family: 'Futura', sans-serif;
  color: white;
}

#enter {
  /* font-family: 'Limelight', cursive; */
  text-transform: uppercase;
  letter-spacing: 3px;
}

#shuffle {
  margin-top: 15px;
  margin-left: 10px;
}

.card {
  background: linear-gradient( rgb(0, 0, 0) 70%, rgb(80, 80, 80));
}

.card-header-title {
  color: white;
}
.card-header {
  color: white;
}

#title-card {
  text-shadow: none;
  letter-spacing: 1px;
}

#rank {
  margin-left: 5px;
  color: rgb(37, 37, 37);
  /* opacity: 50%; */
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
}

#curtains {
  background: url('../assets/curtain-17437.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}
#navbar-link {
  /* font-weight: bold; */
  text-transform: lowercase;
  letter-spacing: 1px;
  margin-left: 10px;
 }


 h4 {
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 2px;
   /* border: 2px solid white; */
   
 }

 #show-content {
  background: linear-gradient( rgb(0, 0, 0), rgb(53, 53, 53));
 }


 #index {
  /* background-image: linear-gradient( rgb(226, 40, 102), rgb(53, 53, 53)); */
  background: rgb(53, 53, 53);
  height: auto;
 }


#navbar {
  /* background-color: black; */
  background: linear-gradient( rgb(0, 0, 0), rgb(53, 53, 53));
}

.filmojo-logo {
  font-size: 100px;
}

img {
  border-radius: 5px;
}

#select {
  margin-top: 8px;
}

#nav-content {
  margin-top: 5px;
}


#shufflecard {
  margin-top: 200px;
}